.game {
  align-items: center;
  margin: 5%;
  max-width: 600px;
  padding: 5px;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.col {
  padding: 5px;
  margin: 20px;
}

.target {
  border: thin solid #999;
  font-size: 45px;
  text-align: center; 
  color: rgb(250, 0, 0);
  background-color: #ccc;
  width: 300px;
}

.timer {
  font-size: 35px;
  text-align: center; 
  color: blue;
  width: 100px;;
}

.score {
  font-size: 24px;
  text-align: center; 
  color: blue;
  width: 150px;;
}

.number-form {
  text-align: center;
  font-size: 36px;
  border-radius: 5px;
  margin: 1rem;
  border: thin solid rgb(0, 0, 0);
  width: 150px;
}

.button-form {
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  margin: 1rem;
  border: thin solid rgb(0, 0, 0);
  width: 50px;
}

.number-active {
  background-color: rgba(204, 204, 204, 0.589);
}

.number-active:hover{
  background-color: rgba(8, 8, 8, 0.384);
  color: rgba(200,0,0,100);
}

.number-clicked {
  background-color: rgba(219, 255, 203, 0.589);
  color: rgba(200,0,0,100);
  opacity: 0.3;
}

.xchallenge-numbers {
  padding: 5px;
  margin: 1rem auto;
}

.xfooter {
  display: flex; width: 90%; 
}
.xtimer-value { color: darkgreen; font-size: 2rem; }